<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Worker </title>
  {% load static %}
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">


</head>

<body class="bg-gradient-dark">
  <div class="shadow ">
    <nav  class="navbar bg-primary">
    <!-- Navbar content -->
    <span class="navbar-brand mb-1 h6 text-white ">Welcome , {{rname}}</span>

    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-danger mr-sm-2" id="quitid" onclick="quit()" > Quit </button>
      <button class="btn btn-success my-2 my-sm-0" id="logoutid" onclick="logout()">Logout</button>
    </div>
    </nav>
  </div>

  <br>
  <h4 class="text-center text-white">Remaining jobs:</h4>
  <div class="text-center h1">
    <h1 class="text-white" id="rjob">{{n}}</h1>
  </div>
  <h3 class="text-center text-white" >Expected Time:</h3>
  <div class="text-center h3">
    <h3>{{ed}}</h3>
  </div>
  <br>
  <div class="container-fluid">
    <div class="card shadow">



        {% if tdata %}
        <table class="table h4  ">
          <thead>
            <tr>
              <th scope="col" class="text-gray-900">Id</th>
              <th scope="col" class="text-gray-900">Attributes List</th>
              <th scope="col" class="text-gray-900">Required</th>

            </tr>
          </thead>
          <tbody>
            {% for i in tdata %}
              <tr>
                <td scope="col" class="text-dark">{{i.attribute_id}}</td>
                <td scope="col" class="text-dark">{{i.attribute_name}}</td>
                <td scope="col" class="text-dark">{{i.attribute_required_quantity}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="h4">
          Desc : {{inst}}
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div id="alert_success" class="alert alert-danger" role="alert">
          {{message}}
        </div>
        {% else %}
        <div id="alert_success" class="alert alert-success" role="alert">
          {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>

  </div>
<br>
  <h1 id="error" class="text-danger text-center">{{emsg}}</h1>
  <footer class="page-footer">
    <div class="text-center  ">
      <button class="btn btn-success btn-lg" type="button" id="savebtn" onclick="saveJob()">Save</button>
    </div>
  </footer>








  <!-- Bootstrap core JavaScript-->

  <script>
    function saveJob(){
      $.ajax({
         url: '{% url "save-job-api" %}',
         data: {
           'val': 1
         },
         dataType: 'json',
         success: function (data) {
              document.getElementById('rjob').innerHTML = data.val;
              document.getElementById('error').innerHTML = data.emsg;
         }
       });
    }

    function logout(){
      $.ajax({
         url: '{% url "logout-worker-api" %}',
         data: {
           'val': 1
         },
         dataType: 'json',
         success: function(data){
           console.log(data.val)
           window.location.replace("{% url 'worker_login' %}")
         }
       });
    }

    function quit(){
      $.ajax({
         url: '{% url "quit-worker-api" %}',
         data: {
           'val': 1
         },
         dataType: 'json',
         success: function (data) {
              document.getElementById('rjob').innerHTML = data.val;
              document.getElementById('error').innerHTML = data.emsg;
         }
       });
    }

  </script>

  {% load staticfiles %}
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
